.container-fluid
{
    background-color: #000000;
}
.navbar-brand
{
    color: #fff;
}
.nav-link
{
    color:#fff
}


/*inicio do codigo css da pagina index.php*/
body {
    font-family: Arial, sans-serif;
    background-color: #000000!important;
    color: #333;
    margin: 0;
    padding: 20px;
}

.lista {
    max-width: 100%;
    margin: 0 auto;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
}

h1 {
    text-align: center;
    color: #000000; 
}

table 
{
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

th, td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #000000; 
    color: white;
}

tr:hover {
    background-color: #6666686b;
}


/*final do codigo css da pagina index.php*/

/*inicio do codigo css da pagina inserir.php*/


.inserir {
    width: 30%;
    margin: 5% auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #000000;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight:bold;
}

input[type="text"],
input[type="date"],
input[type="time"] {
    width: 90%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

button {
    width: 100%;
    padding: 10px;
    background-color: #050505;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}




/*final do codigo css da pagina inserir.php*/

/*inicio do codigo css da pagina atualizar.php*/
.Atualizar {
    width: 30%;
    margin: 5% auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/*final do codigo css da pagina atualizar.php*/

/*final do codigo css da pagina deletar.php*/
.Deletar {
    width: 30%;
    margin: 5% auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
/*final do codigo css da pagina deletar.php*/

